pre, code {
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
}

.sidebar-nav-fixed {
    padding: 9px 0;
    position:fixed;
    left:20px;
    top:60px;
    width:200px;
}

.center { display: block; margin-left: auto; margin-right: auto; text-align: center;}
    .shadow {
      -moz-box-shadow: 10px 10px 5px #888;
      -webkit-box-shadow: 10px 10px 5px #888;
      box-shadow: 10px 10px 5px #888;
    }
    .twist {
      
      transition-property: box-shadow, border-radius, transform:rotate;
      transition-duration: 1s, 2s, 1s;
      -moz-transition-property: -moz-box-shadow, -moz-border-radius, -moz-transform:rotate;
      -moz-transition-duration: 1s, 2s, 1s;
      -webkit-transition-property: -webkit-box-shadow, -webkit-border-radius, -webkit-transform:rotate;
      -webkit-transition-duration: 1s, 2s, 1s;
      -o-transition-property: -o-box-shadow, -o-border-radius, -o-transform:rotate;
      -o-transition-duration: 1s, 2s, 1s;
      -ms-transition-property: -ms-box-shadow, -ms-border-radius, -ms-transform:rotate;
      -ms-transition-duration: 1s, 2s, 1s;

    }
    .twist:hover {
      box-shadow: 0 0 4em 5em rgba(127,127,127,0.4);
      transition-property: box-shadow, border-radius, transform:rotate;
      transition-duration: 2s, 3s, 0.7s;
      -moz-box-shadow: 0 0 4em 5em rgba(127,127,127,0.4);
      -moz-transition-property: -moz-box-shadow, -moz-border-radius, -moz-transform:rotate;
      -moz-transition-duration: 2s, 3s, 0.7s;
      -webkit-box-shadow: 0 0 4em 5em rgba(127,127,127,0.4);
      -webkit-transition-property: -webkit-box-shadow, -webkit-border-radius, -webkit-transform:rotate;
      -webkit-transition-duration: 2s, 3s, 0.7s;
      -o-box-shadow: 0 0 4em 5em rgba(127,127,127,0.4);
      -o-transition-property: -o-box-shadow, -o-border-radius, -o-transform:rotate;
      -o-transition-duration: 2s, 3s, 0.7s;
      -ms-box-shadow: 0 0 4em 5em rgba(127,127,127,0.4);
      -ms-transition-property: -ms-box-shadow, -ms-border-radius, -ms-transform:rotate;
      -ms-transition-duration: 2s, 3s, 0.7s;

      transform:rotate(2deg);
      -moz-transform:rotate(2deg);
      -webkit-transform:rotate(2deg);
      -ms-transform:rotate(2deg);
      -o-transform:rotate(2deg);
    }
    img.store {
      width: 172px;
    }

/* GENERAL ELEMENT TYPE STYLES */

h1 {
  font-size: 32px;
} 

h2 {
  font-size: 22px;
  font-weight: bold;
  color: #303030;
  margin-bottom: 8px;
} 

h3 {
  color: #d5000d;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
} 
 
h4 {
  font-size: 16px;
  color: #303030;
  font-weight: bold;
} 

h5 {
  font-size: 1em;
  color: #303030;
} 

h6 {
  font-size: .8em;
  color: #303030;
} 

p {
  font-weight: 300;
  margin-bottom: 20px;
}
 
a {
  text-decoration: none;
}

p a {
  font-weight: 400;
}

blockquote {
  font-size: 1.6em;
  border-left: 10px solid #e9e9e9;
  margin-bottom: 20px;
  padding: 0 0 0 30px;
}

dl dt {
  color: #303030;
}

a {
  color: #d5000d;
}
a:hover {
  color: #c5000c;
}